<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading">
            Trends
        </p>
        <a class="panel-block">
            This
        </a>
        <a class="panel-block">
            That
        </a>
        <a class="panel-block">
            and the
        </a>
        <a class="panel-block">
            other thing
        </a>
    </nav>
</div>